* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

form {
  max-width: 400px;
  margin: 30px auto 0;
  padding: 20px;
  background-color: #1e2635;
  border-radius: 5px;
  color: white;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

input[type="text"] {
  outline: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4f5e77;
  color: white;
  caret-color: white;
  font-family: "Courier New", monospace;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0.7;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}

input[type="text"]::placeholder {
  color: white;
  opacity: 1;
}

input[type="text"]:hover,
input[type="text"]:focus {
  border: 1px solid #f4f4f4;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff8a00;
  color: white;
  font-family: "Verdana", Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background-color: #d27204;
}
